body{
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
}

header,
footer{
    background-color: #1f2937;
}

.hero,
.quote{
    height: 500px;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links,
p{
    font-size: 18px;
    color: #e5e7eb;
}

.header-links{
    display: flex;
    gap: 25px;
}
.text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.navigation,
.hero{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    padding: 20px 0px;

}

.hero-pic{
    display: flex;
    background-color: silver;
    width: 500px;
    height: 250px;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}

button{
    background-color: #3882f6;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    border-width: 0;
    font-weight: bold;
}

.second,
.signup{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.sblock{
    display: flex;
    padding: 0px 350px;
}

.stext{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.block>button{
    background-color: white;
    padding: 70px;
    border-color:  #3882f6;
    border-width: 4px;
    border-radius: 18px;
}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding-bottom: 50px;
}

.quote{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: oblique;
}

.quotebox{
    width: 900px;
}

.author{
    display: flex;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: bold;
}

.box{
    display: flex;
    width: 1000px;
    background-color: #3882f6;
    padding: 50px;
    border-radius: 8px;
    justify-content: space-around;
    color: white;
}

.one{
    font-size: 22px;
    font-weight: bold;
}
.two{
    color: lightgray;
}

.box>button{
    border-color: white;
    border-style: solid;
    font-size:medium;
    padding: 0px 30px;
    border-radius: 10px;
    border-width: 2px;
}

footer{
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}